<<<<<<< c0bf0436e59de4bf8d4fb0af649e492b2691fe18
=======
/* time slider styling */
canvas {
    display: inline-block;
}

.mapContainer {
    width: 500px;
    height: 500px;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: pointer;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}
>>>>>>> style position of map and color ramp
