body {
    font: 12px sans-serif;
}

.colorbar .axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.colorbar .axis .domain{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

