<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/colorbar.css"/>
</head>
<body>
<div>
    <h3>Data Visualization with Temporal Raster Datasets</h3>
</div>
<div class="mapContainer">
    <div id="map" width="500" height="500"></div>
    <div id="colorRamp" width="100" height="500"></div>
</div>
<svg width="500" height="500"></svg>

<!-- D3 library -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- D3 Dispatch Plugin -->
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>

<!-- GeoTiff reader -->
<script src="../static/js/geotiff.js"></script>

<!-- D3 Plugin for interpolating colors, numbers, etc. -->
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-format.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<script src="https://d3js.org/d3-scale.v1.min.js"></script>

<!-- D3 alternative to xmlhttprequest -->
<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-dsv.v1.min.js"></script>
<script src="https://d3js.org/d3-request.v1.min.js"></script>

<!-- D3 Projection Plugin -->
<script src="https://d3js.org/d3-array.v1.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>

<!-- TopoJSON library -->
<script src="https://d3js.org/topojson.v1.min.js"></script>

<!-- Marching squares isobands/isolines -->
<script src="https://npmcdn.com/d3-marching-squares@0.0.4"></script>

<!-- colorbar -->
<script type="text/javascript" src="../static/js/colorbar.js"></script>

<script src="../static/js/app.js"></script>

</body>
</html>
